@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");
#about-section {
  height: 100%;
  margin-bottom: 200px;
}
#about-section h1:before {
  color: #6bb9f0;
}
#about-section h3 span {
  color: #6bb9f0;
}
#about-section p {
  text-align: center;
  padding: 0 250px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 300;
}
#about-section p a {
  color: #6bb9f0;
}
#about-section p span {
  color: #6bb9f0;
}
#about-section .connect-links {
  display: flex;
  justify-content: center;
}
#about-section .connect-links img {
  height: 80px;
  margin-top: 50px;
  padding: 0 30px;
}
@media only screen and (max-width: 1100px) {
  #about-section p {
    padding: 0 190px;
  }
}
@media only screen and (max-width: 800px) {
  #about-section p {
    padding: 0 100px;
  }
  #about-section .connect-links img {
    height: 60px;
  }
}
@media only screen and (max-width: 450px) {
  #about-section p {
    padding: 0 50px;
    font-size: 15px;
  }
  #about-section .connect-links img {
    height: 40px;
    padding: 0 20px;
  }
}
footer p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 10px;
}
footer p>a>span {
  padding: 0 10px;
  color: #ff8c7e;
}
footer img {
  height: 25px;
  width: 25px;
  margin: 0 20px;
}
@media only screen and (max-width: 450px) {
  footer p {
    font-size: 7px;
  }
  footer p a>span {
    padding: 0 5px;
  }
  footer img {
    height: 15px;
    width: 15px;
    margin: 0 10px;
  }
}
