@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'quicksand';
  list-style: none;
}
body {
  overflow: hidden;
}
.toggle-overflow {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.loader {
  height: 100vh;
  background: #fff;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 101;
}
.loader h1 {
  font-size: 20px;
}
.loader .spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}
.loader .spinner .dot1,
.loader .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background: #000;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.loader .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-o-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.toggle-loader {
  display: none;
}
#skills-section .header-container,
#project-section .header-container,
#about-section .header-container {
  margin: 200px 0;
}
#skills-section .header-container h1,
#project-section .header-container h1,
#about-section .header-container h1 {
  font-size: 40px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#skills-section .header-container h1 .header-border,
#project-section .header-container h1 .header-border,
#about-section .header-container h1 .header-border {
  position: absolute;
  width: 100%;
  height: 1px;
  top: -5px;
  left: 0;
}
#skills-section .header-container h1 .tools-border,
#project-section .header-container h1 .tools-border,
#about-section .header-container h1 .tools-border {
  background: #6c9;
}
#skills-section .header-container h1 .work-border,
#project-section .header-container h1 .work-border,
#about-section .header-container h1 .work-border {
  background: #ff9e9e;
}
#skills-section .header-container h1 .about-border,
#project-section .header-container h1 .about-border,
#about-section .header-container h1 .about-border {
  background: #6bb9f0;
}
#skills-section h3,
#project-section h3,
#about-section h3 {
  font-size: 30px;
  color: #a2a2a2;
  font-weight: 400;
  text-align: center;
  padding-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
}
@media only screen and (max-width: 800px) {
  #skills-section .header-container h1,
  #project-section .header-container h1,
  #about-section .header-container h1 {
    font-size: 40px;
  }
}
