@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");
#project-section {
  height: 100%;
}
#project-section h1:before {
  color: #ff9e9e;
}
#project-section h3 span {
  color: #ff9e9e;
}
#project-section .project-row-container {
  height: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(2, 400px);
  grid-gap: 3em;
}
#project-section .project-row-container .project-row {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
}
#project-section .project-row-container .project-row h4 {
  font-size: 24px;
  font-weight: 300;
}
#project-section .project-row-container .project-row .info-arrow {
  height: 40px;
  width: 40px;
}
#project-section .project-row-container .project-row .project-links {
  display: flex;
}
#project-section .project-row-container .project-row .project-links .github-logo,
#project-section .project-row-container .project-row .project-links .web-logo {
  height: 50px;
  padding: 0 20px;
}
@media only screen and (max-width: 1520px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
  }
}
@media only screen and (max-width: 1400px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 400px);
  }
}
@media only screen and (max-width: 1100px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 350px);
  }
}
@media only screen and (max-width: 950px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(5, 400px);
  }
}
@media only screen and (max-width: 720px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(5, 400px);
  }
}
@media only screen and (max-width: 600px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(5, 350px);
  }
}
@media only screen and (max-width: 500px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(5, 300px);
  }
  #project-section .project-row-container .project-row h4 {
    font-size: 19px;
  }
  #project-section .project-row-container .project-row .info-arrow {
    height: 30px;
    width: 30px;
  }
  #project-section .project-row-container .project-row .project-links .github-logo,
  #project-section .project-row-container .project-row .project-links .web-logo {
    height: 40px;
  }
}
@media only screen and (max-width: 430px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(5, 230px);
  }
}
@media only screen and (max-width: 350px) {
  #project-section .project-row-container {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(5, 200px);
  }
}
