@import './variables.styl'

// About Section Styling //

#about-section
  height 100%
  margin-bottom 200px

  h1:before
    color $blue

  h3
    span
      color $blue

  .about-container
    display grid
    grid-auto-columns repeat(3, 420px)
    grid-template-rows 420px
    grid-gap 6em
    justify-content center

    .about-section
      grid-column 1/2
      grid-row 1/1

    .hobby-section
      grid-column 2/3
      grid-row 1/1

      .hobby-images
        display flex

        div
          &:hover p
            opacity 1
            top 60%

          img
            height 40px
            margin 0 15px

          p
            position absolute
            top 55%
            left 50%
            transform translateX(-50%)
            opacity 0
            transition 250ms all cubic-bezier(0.64, 0.57, 0.67, 1.53)

    .contact-section
      grid-column 3/4
      grid-row 1/1
      
      .contact-links
        display flex
        flex-direction column

        a
          position relative
          img
            height 40px
            margin 15px 0
    
        a:before
          transition 250ms all ease-in-out
          content ''
          background $blue
          height 1px
          width 100%
          position absolute
          transform scaleX(0)
          bottom 0
          left 0
          right 0
          
        a:hover:before
          transform scaleX(1)

    .about-grid
      position relative
      box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
      display flex
      justify-content center
      align-items center
      text-align center

      h2
        font-weight $light
        position absolute
        top 15px
        left 15px

      .image-info
        height 40px
        position absolute
        bottom -20px
        left -20px

      p
        padding 0 50px
        line-height 40px

// About Section Media Queries //

@media only screen and (min-width 1400px)
  #about-section
    .about-container
      grid-template-columns repeat(3, 420px) 
      grid-template-rows 420px

      .about-section
        grid-row 1/1
        grid-column 1/2

      .hobby-section
        grid-row 1/1
        grid-column 2/3

        .hobby-images
          flex-direction row

@media screen and (max-width 1540px)
  #about-section
    .about-container
      grid-template-columns repeat(3, 380px) 
      grid-template-rows 380px
      grid-gap 4em

      .about-section
        grid-row 1/1
        grid-column 1/2

      .hobby-section
        grid-row 1/1
        grid-column 2/3

        .hobby-images
          flex-direction row

@media only screen and (max-width 1350px)
  #about-section
    .about-container
      grid-template-columns repeat(2, 380px) 
      grid-template-rows repeat(2, 380px)
      grid-gap 4em

      .about-section
        grid-row 1/2
        grid-column 1/3

      .hobby-section
        grid-row 2/3
        grid-column 1/2

        .hobby-images
          flex-direction row
          div
            img
              height 35px
              margin 0 15px
      
      .contact-section
        grid-row 2/3
        grid-column 2/3

        .contact-links>a>img
          height 35px
      
      .about-grid>.about-image
        height 35px
        bottom -17.5px
        left -17.5px

@media only screen and (max-width 1000px)
  #about-section
    .about-container
      grid-template-columns repeat(2, 350px) 
      grid-template-rows 350px 350px

@media only screen and (max-width 880px)
  #about-section
    .about-container
      grid-template-columns repeat(1, 450px)
      grid-template-rows 450px 450px 400px

      .about-section
        grid-row 1/2
        grid-column 1/1

      .hobby-section
        grid-row 2/3
        grid-column 1/1

      .contact-section
        grid-row 3/4
        grid-column 1/1
    
@media only screen and (max-width 600px)
  #about-section
    .about-container
      grid-template-columns repeat(1, 350px)

@media only screen and (max-width 450px)
  #about-section
    .about-container
      grid-template-columns repeat(1, 300px)
      grid-template-rows 500px 500px 400px

      .hobby-section>.hobby-images
        flex-direction column

        div
          &:hover p
            top 85%
          
          img
            margin 15px 0

          p
            top 80%

@media only screen and (max-width 380px)
  #about-section
    .about-container
      grid-template-columns repeat(1, 312px)
      grid-template-rows 550px 500px 400px

@media only screen and (max-width 360px)
  #about-section
    .about-container
      grid-template-columns repeat(1, 250px)

// Footer Section Styling //

footer
  p
    text-align center
    display flex
    justify-content center
    align-items center
    margin-bottom 50px
    font-size 10px
  
  p>a>span
    padding 0 10px
    color $heart

  img
    height 25px
    width 25px
    margin 0 20px

@media only screen and (max-width 450px)
  footer
    p
      font-size 7px

      a>span
        padding 0 5px
    
    img
      height 15px
      width 15px
      margin 0 10px