@import './variables.styl'

// About Section Styling //

#about-section
  height 100%
  margin-bottom 100px

  h1
    color $blue
    margin-bottom 100px
    border-bottom 3px solid $blue

  h1:before
    color $blue

  h3
    span
      color $blue

  .about-container
    display flex
    flex-direction column
    align-items center

    img
      height 300px

    p
      width 600px
      line-height 50px
      text-align center
      font-weight $light
      color $grey
      margin-top: 100px
      margin-bottom 50px

    .contact-links>a>img
      height 50px
      margin 0 25px

@media only screen and (max-width 850px)
  #about-section
    .about-container
      p
        width 408px

@media only screen and (max-width 450px)
  #about-section
    .about-container
      img
        height 200px

      p
        width 312px

@media only screen and (max-width 340px)
  #about-section
    .about-container
      p
        width 252px