@import './variables.styl'

*
  margin 0
  padding 0
  box-sizing border-box
  text-decoration none
  font-family $font
  list-style none

body
  overflow hidden

.toggle-overflow
  overflow scroll

::-webkit-scrollbar 
  width 0px
  background transparent

// Loader Styling //

.loader
  height 100vh
  background white
  position fixed
  width 100%
  display flex
  justify-content center
  align-items center
  flex-direction column
  z-index 101

  h1
    font-size 20px

  .spinner
    margin 50px auto
    width 40px
    height 40px
    position relative
    text-align center
    -webkit-animation sk-rotate 2.0s infinite linear
    animation sk-rotate 2.0s infinite linear

    .dot1, .dot2
      width 60%
      height 60%
      display inline-block
      position absolute
      top 0
      background black
      border-radius 100%
      -webkit-animation sk-bounce 2.0s infinite ease-in-out
      animation sk-bounce 2.0s infinite ease-in-out

    .dot2
      top auto
      bottom 0
      -webkit-animation-delay -1.0s
      animation-delay -1.0s

  @-webkit-keyframes sk-rotate
    100%
      -webkit-transform rotate(360deg)
  
  @keyframes sk-rotate
    100%
      transform rotate(360deg) 
      -webkit-transform rotate(360deg)

  @-webkit-keyframes sk-bounce
    0%, 100%
      -webkit-transform scale(0.0)
    50%
      -webkit-transform scale(1.0) 

  @keyframes sk-bounce
    0%, 100%
      transform scale(0.0)
      -webkit-transform scale(0.0)
    50%
      transform scale(1.0)
      -webkit-transform scale(1.0)

.toggle-loader
  display none

// Header Styling //

#skills-section, #project-section, #about-section
  .header-container
    margin 200px 0
    
    h1
      font-size 40px
      font-weight $light
      display inline-block
      position relative
      left 50%
      transform translateX(-50%)
      writing-mode vertical-lr
      text-orientation upright

      .top-border
        top 0
        left 0

      .bottom-border
        bottom 0
        right 0

      .header-border
        position absolute
        width 1px
        height 20%

      .tools-border
        background $green
      
      .work-border
        background $pink
      
      .about-border
        background $blue
    
  h3 
    font-size 30px
    color $grey
    font-weight $regular
    text-align center
    padding-bottom 100px
    padding-right 10px
    padding-left 10px

// Header Media Queries //

@media only screen and (max-width 800px)
  #skills-section, #project-section, #about-section
    .header-container
      h1
        font-size 40px