@import './variables.styl'

*
  margin 0
  padding 0
  box-sizing border-box
  text-decoration none
  font-family $font
  list-style none

// Landing Section Styling //
.landing-section
  height 100vh
  display flex
  flex-direction column
  justify-content space-around
  align-items center

  h1
    font-weight $light
    margin-top 20px
    margin-bottom 50px
    color $grey

    span
      color black

  ul
    display flex
    margin-bottom 20px
    margin-top 50px

    li>a
      padding 20px
      color $grey

  .browser-image
    height 400px
    margin 20px 0

// Landing Section Media Queries //
@media only screen and (max-width 1100px)
  .landing-section
    h1
      font-size 25px

    .browser-image
      height 400px

@media only screen and (max-width 800px)
  .landing-section
    .browser-image
      height 300px

@media only screen and (max-width 600px)
  .landing-section
    justify-content center

    .browser-image
      height 200px

@media only screen and (max-width 400px)
  .landing-section
    h1
      font-size 20px

    ul>li>a
      font-size 14px

    .browser-image
      height 130px

// Skills Section Styling //
#skills-section
  max-height 1200px
  position relative

  h1
    font-size 77px
    text-align center
    padding-top 150px
    font-weight $medium

  h3
    font-size 40px
    text-align center
    color $grey
    font-weight $regular
    padding-bottom 100px

    span
      color $green

  .skills-container
      position relative
      top 10%
    
    .skills-row 
      display flex
      justify-content center
      align-items center

      p
        padding 60px 90px
        font-size 25px
        color $grey
        font-weight $light
        text-align center

// Skills Section Media Queries //
@media only screen and (max-width 1100px)
  #skills-section
    h1
      font-size 50px

    h3
      font-size 30px
    
    .skills-container
      .skills-row 
          p
            font-size 18px
            padding 50px 60px

@media only screen and (max-width 800px)
  #skills-section
    h1
      font-size 40px

    h3
      font-size 25px
    
    .skills-container
      .skills-row 
          p
            font-size 15px
            padding 50px 36px

@media only screen and (max-width 500px)
  #skills-section
    .skills-container
      .skills-row 
          p
            font-size 15px
            padding 50px 20px

@media only screen and (max-width 450px)
  #skills-section
    h1
      font-size 30px
    h3
      font-size 20px

    .skills-container
      .skills-row 
        p
          padding 50px 16px

@media only screen and (max-width 340px)
  #skills-section
    .skills-container
      .skills-row 
          p
            font-size 15px
            padding 50px 10px

// Project Section Styling //
#project-section
  height 1400px

  h1
    font-size 77px
    font-weight $medium
    text-align center
    padding-top 200px
  
  h3 
    font-size 40px
    color $grey
    font-weight $regular
    text-align center
    padding-bottom 100px 

    span
      color $pink

  .project-row-container
    height 90vh
    display flex
    justify-content space-around
    flex-wrap wrap
    align-items center
    
    .project-row
      display flex
      justify-content space-around
      align-items center
      flex-direction column
      padding 0 10px
      height 350px
      width 500px

      h4
        font-size 24px
        color $grey
        font-weight $light

      p
        color $grey
        font-weight $light
        text-align center

      .project-links
        display flex

        .github-logo, .web-logo
          height 50px
          padding 0 20px

      .more-arrow
        height 30px

// Project Section Media Queries //
@media only screen and (max-width 1520px)
  #project-section
    .project-row-container
      .project-row
        width 400px

@media only screen and (max-width 1100px)
  #project-section
    h1
      font-size 50px

    h3
      font-size 30px

@media only screen and (max-width 1220px)
  #project-section
    .project-row-container
      .project-row
        width 350px

@media only screen and (max-width 800px)
 #project-section
    h1
      font-size 40px

    h3
      font-size 25px

@media only screen and (max-width 720px)
  #project-section
    .project-row-container
      .project-row
        width 250px

@media only screen and (max-width 720px)
  #project-section
    height 2200px
    .project-row-container
      .project-row
        width 350px
        height 300px

@media only screen and (max-width 450px)
  #project-section
    h1
      font-size 30px
    h3
      font-size 20px

    .project-row-container
      .project-row
        h4
          font-size 19px
        p
          font-size 15px

        .project-links
          .github-logo, .web-logo
              height 40px

#about-section
  max-height 3700px
  margin-bottom 200px

  h1
    text-align  center
    font-size 77px
    font-weight $medium
    padding-top 30px
  h3
    text-align center
    padding-bottom 100px
    font-size 40px
    font-weight $regular
    color $grey

    span
      color $blue

  p
    text-align center
    padding 0 250px
    line-height 40px
    font-size 18px
    font-weight $light
    color $grey

    a
      color $blue

    span
      color $blue
  
  .connect-links
    display  flex
    justify-content center
    img
      height 80px
      margin-top 50px
      padding 0 30px

// About Section Media Queries //
@media only screen and (max-width 1100px)
  #about-section
    h1
      font-size 50px
      padding-top 200px
    h3
      font-size 30px

    p
      padding 0 190px

@media only screen and (max-width 800px)
  #about-section
    h1
      font-size 40px
    h3
      font-size 25px

    p
      padding 0 100px
    
    .connect-links
      img
        height 60px

@media only screen and (max-width 450px)
  #about-section
    h1
      font-size 30px
    h3
      font-size 20px

    p
      padding 0 50px
      font-size 15px

    .connect-links
      img
        height 40px
        padding 0 20px

// Footer Section Styling //
footer
  p
    text-align center
    display flex
    justify-content center
    align-items center
    margin-bottom 50px
    color $grey
    font-size 10px

    img
      height 20px
      padding 0 10px
    
    span
      color $heart
      padding-left 10px

// Footer Section Media Queries //
@media only screen and (max-width 1000px)
  #about-section
    margin-bottom 200px