@import './variables.styl'

// Link back to Landing Section //

.landing-link
  background white
  z-index 100
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
  width 50px
  height 50px
  border-radius 50%
  justify-content center
  align-items center
  position fixed
  right 40px
  top 40px
  display flex
  visibility hidden
  opacity 0
  transition all 1s linear

  a
    color $grey
    font-size 12px

  img
    height 15px

.toggle-landing-link
  visibility visible
  opacity 1

// Landing Section Styling //

#landing-section
  height 100vh
  width 700px
  position relative
  left 50%
  transform translateX(-50%)

  .landing-container
    height 100vh
    display flex
    justify-content center
    align-items center
    flex-direction column

    h1
      font-size 100px
      font-weight $medium
      text-align center

    p
      font-size 50px
      margin-top 40px
      margin-bottom 80px
      font-weight $light
      text-align center

    .nav-container
      display flex

      a
        font-size 20px
        text-align center
        color black
        margin 0 20px
        border-radius 50px
        color white
        position relative
        height 50px
        width 150px
        display flex
        justify-content center
        align-items center

        &:hover
          animation slideup 300ms ease

      @keyframes slideup 
        0% { bottom: 0px }
        50% { bottom: 10px }
        100% { bottom: 0px }

      .nav-tools
        background $green

      .nav-work
        background $pink 
      
      .nav-about
        background $blue 

  .toggle-nav
    visibility visible
    opacity 1

// Landing Section Media Queries //

@media screen and (max-width 850px)
  #landing-section
    width 384px

    .landing-container
      h1
        font-size 60px
      
      p
        font-size 35px

      .nav-container
        flex-direction column

        a
          margin 10px 0

@media screen and (max-width 450px)
  #landing-section
    width 312px

    .landing-container
      h1
        font-size 40px

      p
        font-size 20px
        margin-bottom 50px

      .nav-container
        flex-direction column

        a
          margin 10px 0
          height 30px
          width 120px
          font-size 15px

@media screen and (max-width 340px)
  #landing-section
    width 252px