@import './variables.styl'

// Link back to Landing Section //

.landing-link
  background white
  z-index 100
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
  width 50px
  height 50px
  border-radius 50%
  justify-content center
  align-items center
  position fixed
  right 40px
  top 40px
  display flex
  visibility hidden
  opacity 0
  transition all 1s linear

  a
    color $grey
    font-size 12px

  img
    height 15px

.toggle-landing-link
  visibility visible
  opacity 1

// Landing Section Styling //

#landing-section
  height 100vh
  display flex
  justify-content space-between
  align-items center
  width 700px
  position relative
  left 50%
  transform translateX(-50%)

  .one
    background $green

  .two
    background $pink 
  
  .three
    background $blue 

  .cube
    width 70px
    height 70px
    position relative

    a
      position absolute
      top 150%
      font-size 20px
      left 50%
      transform translateX(-50%)
      writing-mode vertical-lr
      text-orientation upright
      text-align center
      color black
      transition 300ms all cubic-bezier(0.64, 0.57, 0.67, 1.53)

      &:hover
        top 190%

  .toggle-nav
    visibility visible
    opacity 1

// Landing Section Media Queries //

@media screen and (max-width 850px)
  #landing-section
    width 384px

@media screen and (max-width 450px)
  #landing-section
    width 312px

@media screen and (max-width 340px)
  #landing-section
    width 252px

    .cube
      height 50px
      width 50px