@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500')

$font = 'quicksand'
$light = 300
$regular = 400
$medium = 500

$grey = #A2A2A2
$green = #66CC99
$pink = #FF9E9E
$blue = #6BB9F0
$heart = #FF8C7E