 @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500')

$font = 'quicksand'
$light = 300
$regular = 400
$medium = 500

$grey = #a2a2a2
$green = #0ba300
$pink = #ff9e9e
$blue = #6186ff
$heart = #ff8c7e