<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="../images/favicon.png", rel="shortcut icon" type="image/png")
    link(href="./css/index.css", rel="stylesheet")
    link(href="./css/landing.css", rel="stylesheet")
    link(href="./css/skills.css", rel="stylesheet")
    link(href="./css/projects.css", rel="stylesheet")
    link(href="./css/about.css", rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    title dev / design
  body

    //- Pre Loader Section

    .loader
      .spinner
        .dot1
        .dot2
      
      h1 brewing...

    .landing-link
      a.landing-menu(href="#landing-section")
        img(src="./images/navigate-up-arrow.svg", alt="")
    
    //- Landing Section

    #landing-section
      .one.cube
        a.menu(href="#skills-section") tools
      .two.cube
        a.menu(href="#project-section") work
      .three.cube   
        a.menu(href="#about-section") about

    #skills-section
      .header-container
        h1 tools
          .header-border.tools-border

      .skills-container
        div
          img(src="../images/html-5.svg")
          .skill-info
            p html
        div
          img(src="../images/css-3.svg")
          .skill-info
            p css
        div
          img(src="../images/javascript-logo.svg")
          .skill-info
            p javascript
        div
          img(src="../images/react-logo.svg")
          .skill-info
            p react
        
        div
          img(src="../images/vue-logo.svg", alt="")
          .skill-info
            p vue
        div
          img(src="../images/redux-logo.svg", alt="")
          .skill-info
            p redux
        div
          img(src="../images/firebase-logo.svg", alt="")
          .skill-info
            p firebase
        div
          img(src="../images/nodejs-logo.svg", alt="")
          .skill-info
            p node
          
        div
          img(src="../images/gulp-logo.svg")
          .skill-info
            p gulp
        div
          img(src="../images/pug.svg")
          .skill-info
            p pug
        div
          img(src="../images/stylus_icon.svg")
          .skill-info
            p stylus
        div
          img(src="../images/sass-logo.svg")
          .skill-info
            p sass
        
        div
          img(src="../images/adobe-xd-logo.svg")
          .skill-info
            p xd
        div
          img(src="../images/adobe-illustrator-logo.svg")
          .skill-info
            p illustrator
        div
          img(src="../images/photoshop-logo.svg")
          .skill-info
            p photoshop
    
    //- Project Section

    #project-section
      .header-container
        h1 work
          .header-border.work-border

      .project-row-container
        .project-row
          h4 devsocial
          p social networking for developers
          .project-links
            a(href="https://github.com/Willdta/M.E.R.N-Application")           
              img.github-logo(src="../images/github-logo.svg", alt="")
            a(href="https://devsocial123.herokuapp.com/")
              img.web-logo(src="../images/internet.svg", alt="")
        
        .project-row
          h4 expense report
          p tracks all your expenses
          .project-links
            a(href="https://github.com/Willdta/Expense-Report")            
              img.github-logo(src="../images/github-logo.svg", alt="")
            a(href="https://expense-report1234.herokuapp.com/")
              img.web-logo(src="../images/internet.svg", alt="")
        
        .project-row
          h4 hamster ninja
          p top down 2d adventure game
          .project-links
            a(href="https://github.com/yvesandre-middleton/final-project-lhl-ninja-game")
              img.github-logo(src="../images/github-logo.svg", alt="")
            a(href="http://hamsterninja.ca/")            
              img.web-logo(src="../images/internet.svg", alt="")
        
        .project-row
          h4 fitness website
          p website for online fitness coaching
          .project-links
            a(href="https://github.com/Willdta/Fitness-Website")
              img.github-logo(src="../images/github-logo.svg", alt="")
            a(href="http://beyondufit.org/")            
              img.web-logo(src="../images/internet.svg", alt="")
        
        .project-row
          h4 food-order-app
          p food ordering with notifications
          .project-links
            a(href="https://github.com/ckrac/Lighthouse-midterm_project")       
              img.github-logo(src="../images/github-logo.svg", alt="")
      
    //- About Section

    #about-section
      .header-container
        h1 about
          .header-border.about-border

      .about-container
        .about-section.about-grid
          h2 i'm...
          .image-info
          img.image-info(src="../images/boy.svg", alt="")
          p gabriel pozo. a front end developer with a passion for minimalism. i believe that the simpler the message, the easier it is to convey

        .hobby-section.about-grid
          h2 i enjoy...
          .image-info
          img.image-info(src="../images/puzzle.svg", alt="")
          .hobby-images
            div
              img(src="../images/tennis-ball.svg", alt="")
              p tennis
            div
              img(src="../images/strong.svg", alt="")
              p fitness
            div
              img(src="../images/dog.svg", alt="")
              p dogs
            div  
              img(src="../images/netflix.svg", alt="")
              p netflix
            div  
              img(src="../images/hiker.svg", alt="")
              p hiking

        .contact-section.about-grid
          h2 connect...
          .image-info
          img.image-info(src="../images/network.svg", alt="")
          .contact-links
            a(href="mailto:gpozo@me.com")
              img(src="../images/gmail.svg", alt="")
            a(href="https://www.linkedin.com/in/gabriel-pozo-a6033315b/")
              img(src="../images/linkedin.svg", alt="")
            a(href="https://github.com/Willdta")
              img(src="../images/github.svg", alt="")

    footer
      p made with
        img(src="../images/heart.svg")
        | and
        a(href="https://www.flaticon.com/")
          span flaticon
        | and
        img(src="../images/pug.svg")
        | and
        img(src="../images/stylus_icon.svg", alt="")
        | by gabriel pozo

  script(
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script(src="./js/main.js")