<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", rel="stylesheet")
    link(href="../images/favicon.png", rel="shortcut icon" type="image/png")
    link(href="./dist/index.min.css", rel="stylesheet")
    link(href="./dist/landing.min.css", rel="stylesheet")
    link(href="./dist/skills.min.css", rel="stylesheet")
    link(href="./dist/projects.min.css", rel="stylesheet")
    link(href="./dist/about.min.css", rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    title dev / design
  body

    //- Pre Loader Section

    .loader
      .spinner
        .dot1
        .dot2
      
      h1 brewing...

    .landing-link
      a.landing-menu(href="#landing-section")
        img(src="./images/navigate-up-arrow.svg", alt="")
    
    //- Landing Section

    #landing-section
      .landing-container
        h1 hi i'm gabriel,
        p a front-end developer
      
        .nav-container
          a.menu.nav-tools(href="#skills-section") tools
          a.menu.nav-work(href="#project-section") work
          a.menu.nav-about(href="#about-section") about

    #skills-section
      .header-container
        h1 tools
          .header-border.tools-border

      .skills-container
        div
          img(src="../images/html-5.svg")
          .skill-info
            p html
        
        div
          img(src="../images/css-3.svg")
          .skill-info
            p css
        
        div
          img(src="../images/javascript-logo.svg")
          .skill-info
            p javascript
        
        div
          img(src="../images/react-logo.svg")
          .skill-info
            p react
        
        div
          img(src="../images/redux-logo.svg", alt="")
          .skill-info
            p redux
        
        div
          img(src="../images/vue-logo.svg", alt="")
          .skill-info
            p vue
        
        div
          img(src="../images/firebase-logo.svg", alt="")
          .skill-info
            p firebase
        
        div
          img(src="../images/nodejs-logo.svg", alt="")
          .skill-info
            p node
          
        div
          img(src="../images/gulp-logo.svg")
          .skill-info
            p gulp
        
        div
          img(src="../images/pug.svg")
          .skill-info
            p pug
        
        div
          img(src="../images/stylus_icon.svg")
          .skill-info
            p stylus
        
        div
          img(src="../images/sass-logo.svg")
          .skill-info
            p sass
        
        div
          img(src="../images/adobe-xd-logo.svg")
          .skill-info
            p xd
        
        div
          img(src="../images/adobe-illustrator-logo.svg")
          .skill-info
            p illustrator
        
        div
          img(src="../images/photoshop-logo.svg")
          .skill-info
            p photoshop
    
    //- Project Section

    #project-section
      .header-container
        h1 work
          .header-border.work-border

      .project-container
        .child.first
          h1.project-header react cart
          p an application that simulates an ecommerce app. you are allowed to add, delete, edit and view your cart. equipped with email confirmation
          .link-container
            a(href="https://github.com/Willdta/React-Shopping-Cart") source code
            a(href="https://reactshoppingcart1.herokuapp.com/") view live

        .child.second
          h1.project-header dev social
          p a social media platfrom built for developers. browse feeds and profiles of other developers
          .link-container
            a(href="https://github.com/Willdta/M.E.R.N-Application") source code
            a(href="https://devsocial123.herokuapp.com/") view live
        
        .child.third
          h1.project-header expense report
          p a bank-like application that tracks all your expenses. equipped with full crud capability / filtering
          .link-container
            a(href="https://github.com/Willdta/Expense-Report") source code
            a(href="https://expense-report1234.herokuapp.com/") view live
        
        .child.fourth
          h1.project-header hamster ninja
          p a top down 2d adventure game. play through 3 levels and see if you can defeat the final boss
          .link-container
            a(href="https://github.com/yvesandre-middleton/final-project-lhl-ninja-game") source code
            a(href="http://hamsterninja.ca/") view live

        .button-container
          .prev
            img(src="../images/back.svg", alt="")
          .next
            img(src="../images/next.svg", alt="")
      
    //- About Section

    #about-section
      .header-container
        h1 about
          .header-border.about-border
        
      .about-container
        img(src="../images/boy-blue.svg", alt="")

        p hello, nice to meet you. thank you for taking the time to visit my personal site. liked what you see? i hope you did. anyways here's a little about myself. i love creating unqiue and minimal interfaces, like this site. i'm in love with the font quicksand, fitness, tv shows (you name it i've seen it),and everything animals (especially dogs). want to get in touch? just click the mail icon!

        .contact-links
          a(href="mailto:gpozo@me.com" title="email")
            img(src="../images/envelope.svg", alt="")
          //- a(href="https://www.linkedin.com/in/gabriel-pozo-a6033315b/") 
          //-   img(src="../images/linkedin-logo.svg", alt="" title="linkedIn")

  script(
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script(src="./dist/main.min.js")